.sidebarMain {
  max-width: 900px;
  margin: 20px 20px;
  width: 30 px;
  position: fixed;
  z-index: 1;
  overflow: auto;
  text-align: right;
}

.sidebarMain h1 {
  font-family: "Montserrat", sans-serif;
}
.title {
  font-size: 2rem;
}

nav a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #222;
}

nav a:hover {
  background: none;
  color: #ff9100;
  text-decoration: none;
}
.active {
  color: #ff9100;
  font-variant-caps: petite-caps;
}

.hamburger {
  margin: 0;
  font-size: 30px;
  color: #222;
  display: none;
  width: 30px;
  float: left;
  padding: 2rem 1rem;
}
.toggle {
  display: none;
}
.logo {
  /* border-radius: 50%; */
  max-width: 5rem;
}

.icons {
  display: inline-flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .title {
    font-size: 3rem;
  }

  .sidebarMain {
    text-align: center;
    width: 100vw;
    display: none;
    display: block;
    margin: 0;
    line-height: 0.8;
    background: #f4f4f4;
    width: 100%;
    height: 100vh;
  }

  a:hover {
    color: #ff9100;
  }
  nav a {
    display: block;
    color: #222;
    margin-top: 0.5rem;
    padding: 1.5rem 0;
    font-size: 2rem;
    text-decoration: none;
  }
  .icons a {
    margin-left: 1rem;
    padding-right: 1rem;
  }
}
