.box {
  padding: 0.8rem 0;
  margin-bottom: 0.3rem;
}

.box a {
  text-decoration: none;
}
.descriptions {
  display: inline-flex;
}

.box:hover {
  background: rgb(18, 0, 120, 0.3);
}

.date {
  color: #222;
  padding-right: 0.5rem;
}
.excerpt {
  color: #777;
}

.box p {
  margin: 0;
}

.box h2 {
  color: #3f3f3f;
  font-size: 2.9rem;
}
