.form {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  color: #333;
  background: none;
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.description {
  max-width: 800px;
  padding: 1rem;
}
.description p {
  font-size: 0.8rem;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.form input {
  padding: 0.5rem;
}

.form label {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.messageBox {
  height: 12rem;
  padding: 1rem;
}

.submit {
  margin-top: 1rem;
  padding: 0.5rem;
}
