.container {
  height: 100%;
  max-width: 40rem;
  max-height: 70vh;
}
.photo {
  width: 100%;
}
p {
  font-size: 0.9rem;
  font-weight: 20;

  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
