.container {
  height: 100%;
  max-width: 40rem;
  max-height: 70vh;
}
.photo {
  width: 100%;
  height: 35rem;
  object-fit: contain;
}
p {
  font-size: 0.9rem;
  font-weight: 20;

  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 4.5rem;
  }
  .photo {
    height: 60vh;
  }
}
