.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 1.7rem;
  margin-left: 200px;
  padding: 1px 16px;
  margin-right: 5rem;
  flex-grow: 1;
}
/* 850-700 is gross */

/* fix this bug between 700 px and 500! */

@media screen and (max-width: 700px) {
  .content {
    margin: 0;
  }
}
