.sidebarMain {
  max-width: 900px;
  margin: 20px 20px;
  width: 30 px;
  position: fixed;
  z-index: 1;
  overflow: auto;
}

.sidebarMain h1 {
  font-family: "Montserrat", sans-serif;
}

nav a {
  display: block;
  color: #333;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
  background: rgb(0, 99, 156);
  text-decoration: none;
  color: #f4f4f4;
}

.hamburger {
  margin: 0;
  font-size: 30px;
  color: #333;
  display: none;
  width: 30px;
  float: left;
  padding: 2rem 1rem;
}
.toggle {
  display: none;
}

.icons {
  display: inline-flex;
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .sidebarMain {
    text-align: center;
    width: 100%;
    display: none;
  }
  .sidebarMain a {
    display: block;
    color: #333;
  }
  a:hover {
    color: #f4f4f4;
  }
  .sidebarMain {
    display: block;
    background: #c4deff;
    width: 50%;
  }
}
